<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}{%endblock%}</title>
</head>
<body>

    <head>
        <nav>
            {% if user.is_authenticated %}
            <lu>
                <li>Olá, {{ user.username }}</li>
                <li><a href="{% url 'cadastro_carros' %}">Cadastrar Carro</a></li>
                <li><a href="{% url 'sair' %}">Sair</a></li>
            </lu>
            {% endif %}
            <lu>
                <li><a href="{% url 'home' %}">Home</a></li>
            </lu>

            {% if not user.is_authenticated %}
            <ul>
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'cadastro_usuario' %}">Criar Conta</a></li>
            </ul>
            {% endif %}
        </nav>
    </head>

<main>
    {%block content%}

    {%endblock%}
</main>
</body>
</html>